<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>KISS Clinic</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="/assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="/assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body style="height: 768px;">
    <nav class="navbar navbar-light navbar-expand-lg navigation-clean">
        <div class="container"><a class="navbar-brand" href="#">KISS Clinic Management</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="/index.html">Booking</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/doctor-pac-view.html"><strong>Doctor</strong></a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Nurse</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Settings</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="#">Settings</a><a class="dropdown-item" href="#">User Management</a><a class="dropdown-item" href="#">Logout</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#"><span>Home</span></a></li>
                    <li class="breadcrumb-item"><a href="#"><span>Doctor</span></a></li>
                    <li class="breadcrumb-item"><a href="#"><span>Patient</span></a></li>
                </ol>
                <h1>{{ firstName }} {{ lastName }}</h1><small class="form-text">pacid: {{ pacid }}</small>
            </div>
        </div>
        <div class="row" style="margin-top: 12px;margin-bottom: 12px;">
            <div class="col-md-12" style="width: 50%;">
                <h3>Profile</h3>
                <div class="table-responsive" style="width: 100%;font-size: 11px;">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Column</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Email</td>
                                <td>{{ email }}</td>
                            </tr>
                            <tr>
                                <td>Phone Nr</td>
                                <td>{{ phone }}</td>
                            </tr>
                            <tr>
                                <td>Address</td>
                                <td>{{ fullAddress }}<br></td>
                            </tr>
                        </tbody>
                    </table>
                </div><button class="btn btn-primary" type="button" style="margin-bottom: 6px;margin-top: 6px;">Open full profile</button>
            </div>
            <div class="col-md-12" style="width: 50%;">
                <h3>Control Elements</h3><button class="btn btn-primary" type="button" style="margin-top: 12px;margin-right: 12px;margin-bottom: 12px;margin-left: 12px;">Add Diagnosis</button><button class="btn btn-primary" type="button" style="margin-top: 12px;margin-right: 12px;margin-bottom: 12px;margin-left: 12px;">Add Measurement</button><button class="btn btn-primary" type="button" style="margin-top: 12px;margin-right: 12px;margin-bottom: 12px;margin-left: 12px;">Add Medicine</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" style="min-height: 100px;">
                <h2 style="margin-bottom: 14px;">Booking Information</h2>
                <div class="table-responsive text-center" style="min-height: 100px;">
                    <table class="table">
                        <thead style="min-height: 100px;">
                            <tr style="min-height: 100px;">
                                <th style="min-height: 100px;">Date</th>
                                <th style="min-height: 100px;">Type</th>
                            </tr>
                        </thead>
                        <tbody style="min-height: 100px;">
                            <tr style="min-height: 100px;">
                                <td style="min-height: 100px;">13.12.21</td>
                                <td style="min-height: 100px;">Check In</td>
                            </tr>
                            <tr style="min-height: 100px;">
                                <td style="min-height: 100px;">14.12.21</td>
                                <td style="min-height: 100px;">Prep Day</td>
                            </tr>
                            <tr style="min-height: 100px;">
                                <td style="min-height: 100px;">15.12.21</td>
                                <td style="min-height: 100px;">Fasting Day 1</td>
                            </tr>
                            <tr style="min-height: 100px;">
                                <td style="min-height: 100px;">16.12.21</td>
                                <td style="min-height: 100px;">Fasting Day 2</td>
                            </tr>
                            <tr style="min-height: 100px;">
                                <td style="min-height: 100px;">17.12.21</td>
                                <td style="min-height: 100px;">Aufbautag</td>
                            </tr>
                            <tr style="min-height: 100px;">
                                <td style="min-height: 100px;">18.12.21</td>
                                <td style="min-height: 100px;">Check Out</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4" style="min-height: 100px;">
                <h2 style="margin-bottom: 14px;">Diagnosis</h2>
                <div class="table-responsive text-center" style="min-height: 100px;">
                    <table class="table">
                        <thead style="min-height: 100px;">
                            <tr style="min-height: 100px;">
                                <th style="min-height: 100px;">Date</th>
                                <th style="min-height: 100px;">Diagnosis</th>
                                <th style="min-height: 100px;">Open</th>
                            </tr>
                        </thead>
                        <tbody style="min-height: 100px;">
                            <tr style="min-height: 100px;">
                                <td style="min-height: 100px;">13.12.21 15:41</td>
                                <td style="min-height: 100px;">Sackrattus gonni ...</td>
                                <td style="min-height: 100px;"><a href="#">Link</a></td>
                            </tr>
                            <tr style="min-height: 100px;">
                                <td style="min-height: 100px;">13.12.21 14:51</td>
                                <td style="min-height: 100px;">Blood test</td>
                                <td style="min-height: 100px;"><a href="#">Link</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-4" style="min-height: 100px;">
                <h2 style="margin-bottom: 14px;">Measurements</h2>
                <div class="text-center"><canvas data-bss-chart="{&quot;type&quot;:&quot;bar&quot;,&quot;data&quot;:{&quot;labels&quot;:[&quot;January&quot;,&quot;February&quot;,&quot;March&quot;,&quot;April&quot;,&quot;May&quot;,&quot;June&quot;],&quot;datasets&quot;:[{&quot;label&quot;:&quot;Revenue&quot;,&quot;backgroundColor&quot;:&quot;#4e73df&quot;,&quot;borderColor&quot;:&quot;#4e73df&quot;,&quot;data&quot;:[&quot;4500&quot;,&quot;5300&quot;,&quot;6250&quot;,&quot;7800&quot;,&quot;9800&quot;,&quot;15000&quot;]}]},&quot;options&quot;:{&quot;maintainAspectRatio&quot;:true,&quot;legend&quot;:{&quot;display&quot;:false,&quot;labels&quot;:{&quot;fontStyle&quot;:&quot;normal&quot;}},&quot;title&quot;:{&quot;fontStyle&quot;:&quot;bold&quot;},&quot;scales&quot;:{&quot;xAxes&quot;:[{&quot;ticks&quot;:{&quot;fontStyle&quot;:&quot;normal&quot;}}],&quot;yAxes&quot;:[{&quot;ticks&quot;:{&quot;fontStyle&quot;:&quot;normal&quot;}}]}}}"></canvas></div>
            </div>
        </div>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/chart.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
</body>

</html>