<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>KISS Clinic</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="/assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="/assets/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body style="height: 100%;min-height: 800px;">
    <nav class="navbar navbar-light navbar-expand-lg navigation-clean">
        <div class="container"><a class="navbar-brand" href="#">KISS Clinic Management</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link active" href="/index.html" style="font-weight: bold;">Booking</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/doctor-pac-view.html"><strong>Doctor</strong></a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Nurse</a></li>
                    <li class="nav-item"></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Settings</a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="#">Settings</a><a class="dropdown-item" href="#">User Management</a><a class="dropdown-item" href="#">Logout</a></div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="height: 100%;padding-top: 12px;">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#"><span>Home</span></a></li>
            <li class="breadcrumb-item"><a href="#"><span>Booking</span></a></li>
        </ol>
        <h1>Patient search</h1><button class="btn btn-primary" type="button" style="padding-top: 6px;margin-top: 20px;margin-bottom: 20px;margin-left: 5px;">New Patient</button>
        <form class="text-start"><input class="border rounded-pill form-control" type="search" autofocus="" autocomplete="on" inputmode="latin-name" placeholder="Hans Müller" style="width: 80%;"></form>
        <div class="table-responsive" style="margin-top: 50px;">
            <table class="table">
                <thead>
                    <tr>
                        <th>Patient Name</th>
                        <th>Birthdate</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Hans Lambda</td>
                        <td>11.12.1992</td>
                        <td><a href="#">Edit</a></td>
                    </tr>
                    <tr>
                        <td>Peter Maffay</td>
                        <td>23.12.1992</td>
                        <td><a href="#">Edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/bs-init.js"></script>
</body>

</html>