<h1>REGISTER</h1>

{% from "_util.html" import render_field %}
<form id="loginForm" class="form form-register" method="POST" action="" role="form">
    {{ form.hidden_tag() }}
    {{ render_field(form.name, placeholder="Name") }}<br>
    {{ render_field(form.email, placeholder="Email") }}<br>
    {{ render_field(form.password, placeholder="Password") }}<br>
    {{ render_field(form.confirm, placeholder="Password (again)") }}<br>
    {{ render_field(form.hospital, placeholder="Hospital") }}<br>
    {{ render_field(form.unit, placeholder="Unit") }}<br>
    {{ render_field(form.role, placeholder="Doctor, Sister or Maintenance") }}<br>
    <p><input class="btn btn-default btn-submit" type="submit" value="Register"></p>
</form>

<a href="/">index</a><br>
<a href="/login">login</a><br>